<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Редактирование производителя</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<div>
<div th:replace="menu-header.html :: top-menu"/>
    <div class="w3-container w3-margin-top">
        <div class="w3-card w3-grey">
            <div class="w3-container w3-green">
                <h3>Редактировать производителя</h3>
            </div>
        </div>

        <form action="/manufactorer/edit" method="post">
            <div class="w3-container w3-margin-top w3-padding w3-light-grey">
                <input type="hidden" th:value="${manufactorer.id}" name="manufactorerId"/>
                <h4>Название производителя:</h4>
                <input th:value="${manufactorer.manufacturerName}" class="w3-input w3-border" type="text" name="manufacturerName"/>

                <br style="height: 24px"/>

                <div class="w3-container w3-margin-top">
                    <a href="/manufactorers" class="w3-button w3-gray">Отмена редактирования</a>
                    <input type="submit" class="w3-button w3-right w3-green" value="Завершить редактирование производителя"/>
                </div>

                <br style="height: 24px"/>
            </div>
        </form>
    </div>
</div>
</body>
</html>