<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактировать пользователя</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body class="w3-light-grey">
<div th:replace="menu-header.html :: top-menu"/>
<div class="w3-container">
    <br/>

    <div class="w3-card w3-white">
        <div class="w3-container w3-light-green"><h3 th:text="'Редактирование пользователя: ' + ${editUser.email}">Редактирование пользователя:</h3></div>

        <div class="w3-container">
            <form action="/user/edit" method="post">
                <br/>

                <input type="hidden" th:value="${editUser.email}" name="email"/>

                <h3>Имя:</h3>
                <input th:value="${editUser.firstName}" type="text" name="firstName" class="w3-input w3-border"/>
                <br/>

                <h3>Фамилия:</h3>
                <input th:value="${editUser.lastName}" type="text" name="lastName" class="w3-input w3-border"/>
                <br/>

                <h3>Пароль(введите новый пароль для изменения):</h3>
                <input value="" type="text" name="password" class="w3-input w3-border"/>
                <br/>

                <h3>Роли:</h3>

                <div th:each="role: ${allRoles}">
                    <input name="roles" th:value="${role}" class="w3-check" type="checkbox" th:checked="${editUser.hasRole(role.toString())}"/>
                    <label th:text="${role.description}">description role</label>
                </div>

                <br/>
                <br/>

                <a href="/user/users" class="w3-button w3-gray">Отмена</a>

                <input type="submit" class="w3-button w3-blue w3-right w3-margin-bottom" value="Завершить редактирование"/>
                <br/>
            </form>

        </div>
    </div>

</div>
</body>
</html>