<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Все производители</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
<div th:replace="menu-header.html :: top-menu"/>
    <div class="w3-container w3-margin">
        <div class="w3-card">
            <div class="w3-container w3-blue">
                <h3 th:text="'Мы имеем ' + ${manufactorers.size()} + ' производителей'">Мы имеем 23 производителей</h3>
                <a href="/manufactorer/add" class="w3-button w3-light-blue">Добавить производителя</a>
            </div>

            <div style="height: 12px;"></div>

            <div th:each="manufactorer : ${manufactorers}" class="w3-container">
                <div class="w3-container w3-light-gray">
                    <div class="w3-container w3-light-green w3-left">
                        <h3 th:text="${manufactorer.manufacturerName}">Имя роизводителя</h3>
                    </div>

                    <div style="height: 12px;"></div>

                    <div class="w3-container w3-right">
                        <a th:href="'/manufactorer/edit/?manufacturerId=' + ${manufactorer.id}" href="#" class="w3-button w3-light-blue">Редактировать производителя</a>
                        <a th:href="'/manufactorer/delete/?manufacturerId=' + ${manufactorer.id}" href="#" class="w3-button w3-orange">Удалить производителя</a>
                        <a th:href="'/productsofmanufactorer?manufactorerId=' + ${manufactorer.id}" href="#" class="w3-button w3-blue w3-right w3-margin-left">Посмотреть на товары</a>
                    </div>

                    <div style="height: 12px;"></div>
                </div>

                <div style="height: 12px;"></div>
            </div>
            <div style="height: 12px;"></div>
        </div>
    </div>
</body>
</body>
</html>